<!DOCTYPE html>
<html lang="en">
  <script src="/public/js/index.js"></script>
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %> <%- include ('../partials/form.ejs')
    %> <%- include('../partials/footer.ejs') %>
  </body>
</html>
