<div class="create-book">
  <form action="/books" method="POST" class="create-book-form">
    <label for="isbn">ISBN*:</label>
    <input
      type="text"
      name="isbn"
      id="isbn"
      name="isbn"
      placeholder="ISBN-13"
    />
    <button class="btn btn-create">Submit</button>
  </form>
</div>
