<div class="header">
  <a href="/">
    <img class="header-icon" src="/img/book-2.png" alt="book-icon" />
  </a>

  <h1 class="header-title">Book Identifier</h1>

  <nav class="navigation-bar">
    <ul>
      <li>
        <button class="btn">
          <a href="/">All books</a>
        </button>
      </li>
      <li>
        <button class="btn">
          <a href="/books/create">Add a new book</a>
        </button>
      </li>
    </ul>
  </nav>
</div>
