<div class="top">
  <nav>
    <div class="book-icon">
      <a href="/">
        <img src="/img/book-2.png" alt="book-icon" />
      </a>
    </div>
    <div class="site-title">
      <a href="/"> <h1>Bookstore</h1> </a>
    </div>
    <ul>
      <li>
        <a href="/">All books</a>
        <a href="/books/create">Add book</a>
        <a href="/about">About</a>
      </li>
    </ul>
  </nav>
</div>
