<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <nav>
      <div class="site-title">
        <a href="/"> <h1>Bookstore</h1> </a>
        <p>A Vivek Site</p>
      </div>
      <ul>
        <li>
          <a href="/">Books</a>
          <a href="/about">About</a>
          <a href="/books/create">New Book</a>
        </li>
      </ul>
    </nav>
    <div class="books content">
      <h2>OOPS, page not found...</h2>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
